elpa/
auto-save-list/*
history
url/
eln-cache
ams-items/
amx-items
recentf
.tutor-sc/*
treemacs-persist
.gitignore
*/.config/*
projectile-bookmarks.eld
.cache
config/*
lisp/custom.el
transient/history.el
.gitignore
